@media (min-width: 992px) {
  .about-container {
    width: 100%;
    padding: 2%;
  }
  .about-block {
    width: 100%;
    display: flex;
    padding: 3% 12%;
  }
  .about-img-cnt {
    width: 50%;
    padding: 5%;
  }
  .about-img {
    width: 100%;
    border-radius: 0 0 30px 30px;
  }
  .about-content-cnt {
    width: 45%;
    padding: 5%;
    margin-top: 40px;
  }
  .about-ctt-hd-cnt {
    color: rgb(90, 109, 123);
  }
  .about-ctt-sub-hd-cnt {
    color: rgb(118, 136, 148);
  }
  .about-ctt-dsp-cnt p {
    margin: 30px 0;
    color: rgb(118, 136, 148);
  }
  .about-sm-list-cnt {
    display: flex;
    list-style-type: none;
    padding-left: 0 !important;
  }
  .about-sm-item {
    padding: 10px 20px;
  }
  .about-sm-link {
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(118, 136, 148);
    padding: 7px 12px;
    border-radius: 50%;
  }
  .about-facebook-link {
    padding: 8px 15px;
  }
  .about-sm-link:hover {
    color: rgb(118, 136, 148);
    background-color: white;
    border: 1px solid rgb(118, 136, 148);
  }
}
@media (max-width: 992px) {
  .about-container {
    width: 100%;
    padding: 1%;
  }
  .about-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3%;
  }
  .about-img-cnt {
    width: 100%;
    padding: 2%;
  }
  .about-img {
    width: 100%;
    border-radius: 0 0 30px 30px;
  }
  .about-content-cnt {
    width: 100%;
    padding: 2%;
    margin-top: 30px;
  }
  .about-ctt-hd-cnt {
    color: rgb(90, 109, 123);
  }
  .about-ctt-sub-hd-cnt {
    color: rgb(118, 136, 148);
  }
  .about-ctt-dsp-cnt p {
    margin: 15px 0;
    color: rgb(118, 136, 148);
  }
  .about-sm-list-cnt {
    display: flex;
    list-style-type: none;
    padding-left: 0 !important;
  }
  .about-sm-item {
    padding: 10px 20px;
  }
  .about-sm-link {
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(118, 136, 148);
    padding: 7px 12px;
    border-radius: 50%;
  }
  .about-facebook-link {
    padding: 8px 15px;
  }
  .about-sm-link:hover {
    color: rgb(118, 136, 148);
    background-color: white;
    border: 1px solid rgb(118, 136, 148);
  }
}